*{
    margin: 0;
    padding: 0;
}
#header {
    height: 100px;
    width: 800px;
    margin: auto;
    padding: 25px;
}
#header img{
    float: left;
}
#mezuro-info {
    height: 60px;
    width: 800px;
    margin: auto;
    color: white;
}
body { 
    background: #339900 url(../images/gradient_background.png) repeat-x;
    color: black;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size:   14px;
    line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

ul {
    margin:10px;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

h1 {
    margin: 10px;
    margin-left: 0px;
}

h3 {
    margin: 5px;
    margin-left: 0px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

img {
    clear: none;
    display: inline;    
}
#content {
    width: 800px;
    margin: auto;
    padding: 10px;
    background-color: white;
}

#content h1 {
    color: black;
}


#static_links {
  float: right;
  vertical-align: top;
  position: relative;
  top: 10px;
  margin: 10px;
}

#static_links a {
    color:  white;
}

label {
    float: left;
    width: 150px;
    margin: 5px 0;
}

input {
    margin: 5px 0px;
}

form {
    width: 600px;
    margin-left: 100px;
}

#number_of_created_projects {
    color: white;
    float: left;
}
.float-right {
    float: right;
    text-align: right;
}

#flash_messages {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#progress_message {
    
}

tr.d0 td {
    background-color: #E8E8E8;
    color: black;
}
tr.d1 td {
    background-color: #FFFFFF; 
    color: black;
}
