<h1>User Info</h1>

<table>
  <tr id="tr_user_login">
    <td><%= label_tag "Login" %></td>
    <td><%= @user.login %></td>
  </tr>
  <tr id="tr_user_email">
    <td><%= label_tag "Email" %></td>
    <td><%= @user.email %></td>
  </tr> 
</table>

<button type="button">Edit</button>

