<h1>Welcome to Mezuro</h1>

<%= link_to "New Project", new_project_path %>

<ul>
  <%  @projects.each do |project| %>
  <li> <%= link_to project.name, project_path(project.identifier) %> </li>
  <% end %>
</ul>


